body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    
}
#container{
    margin-top: 70px;
    background-color: 	#CDCDCD;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 800px;
}

#viewImages{
    margin-top: 80px;
    width: 200px;
    height: 200px;
}

#viewNames{
    margin-top: 40px ;
}

#viewPrice{
    margin-top: 20px;
}

#text{
    margin-top: 20px;
    color: purple;
    font-size: 28px;
}

#btn{
    margin-top: 40px;
    font-size: 24px;
    padding: 10px;
}